<footer class="footer fixed-bottom">
  <nav class="navbar navbar-light">
    <div class='container-sm'>
      <span class="text-light"><%= t('defaults.footer_app_name') %></span>
    </div>
  <nav>
</footer>