<header class="mb-auto">
  <nav class="navbar navbar-light">
    <div class="container-sm">
      <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
        <span class="text-light"><%= t('defaults.app_name') %></span>
      <% end %>
    </div>
  </nav>
</header>