<div class='container style="height: 100%;'>
  <div>
    <div class='top-inner-text text-center'>
      <p class='title-logo text-light'><%= t('defaults.app_name') %></p>
      <div class='quiz-select-field neumorphism'>
        <button class="btn btn-outline-light font-weight-bold filter-none px-3 m-3" type="button"><%= t('defaults.level1') %></button><br>
        <button class="btn btn-outline-light font-weight-bold px-3 m-3" type="button"><%= t('defaults.level2') %></button><br>
        <button class="btn btn-outline-light font-weight-bold px-3 m-3" type="button"><%= t('defaults.level3') %></button>
      </div>
    </div>
  </div>
</div>