@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

body {
  font-family: "Hiragino Kaku Gothic ProN"!important;
  font-weight: 500;
}

header, footer {
  background-color: rgba(245, 245, 220, 0.4);
  box-shadow: 0px 2px 4px #ddebf3, 0px -2px 4px #ddebf3;
}

.wrapper {
  flex: 1 1 auto;
  max-width: 100%;
  position: relative;
}


.container {
  padding: 15px;
  .quiz-select-field {
    width: 60%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }
}

.jumbotron {
  position: relative;
  height: 100vh;
  background-position: right;
  background-image: linear-gradient(rgba(199, 141, 75, 0.5),rgba(0, 0, 0, 0.5)),image-url('background.jpg');
  background-size: cover;
  border-radius: 0;
  padding: 0px;
  margin-bottom: 0px;
}

.neumorphism {
  border-radius: 10px;
  box-shadow: 5px 5px 10px #a3adb3, -5px -5px 10px #ddebf3;
  background-color: rgba(95, 50, 8, 0.5);
}


.title-logo {
  margin-top: 150px;
  font-size: 30px;
  background-color: rgba(95, 50, 8, 0.5);
  border: medium solid white;
  box-shadow: 2px 3px 4px #a3adb3, -2px -2px 4px #ddebf3;
}